:root { 
--lime_500:#c1d738; 
--deep_purple_900:#2f1893; 
--gray_900_66:#15143866; 
--red_A100:#ff7c7c; 
--gray_200:#eaeaed; 
--green_A200:#70ddb1; 
--gray_50:#f9f9f9; 
--black_900:#000000; 
--yellow_A100:#f8fd91; 
--indigo_900:#1e0d62; 
--deep_purple_A100:#cb9bfa; 
--blue_200:#90d7ff; 
--white_A700:#ffffff; 
--pink_400:#e8397d; 
}